<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Effort.EF6" version="1.0.0-beta5" targetFramework="net40" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net40" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net40" />
  <package id="NMemory" version="1.0.0-beta9" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
</packages>